<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/vue-dev/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <!-- <p @click.enter="show(1)">{{text}}</p>
        <p v-text="text" v-if="see"></p>
        <p v-html="html" v-show="see"></p>
        <div v-pre>{{ text }}</div>
        <input type="text" v-model="text"> -->
        <div v-demo:foo.a.b="demo_value">123</div>
    </div>
    <script type="text/javascript">
        var vm = new Vue({
            data: {
                demo_value: 'demo',
                see: true,
                text: '要显示的文本',
                html: '<span style="color: red">html</span>'
            },
            directives: {
                demo: {
                    bind: function() {
                        console.log('bind');
                    },
                    inserted: function() {
                        console.log('inserted')
                    }
                }
            },
            methods: {
                show(i) {
                    alert(this.text + 'i');
                }
            }
        }).$mount('#app');

    </script>
</body>

</html>
